/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

html {
  height: 100%;
}
body {
  height: 100%;
  padding-top: 50px;
}

.container-fluid {
  position: relative;
  height: 100%;
}

.patternbg {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGElEQVQIW2NkYGCQBOLnQAwGjDAG0QKSAD1rAR6LthyCAAAAAElFTkSuQmCC'), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC') #2b3036 !important;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.nav > li > a.active {
  font-weight: bold;
  color: white;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 0px;
  margin-left: 240px;
}
@media (min-width: 768px) {
  .main {
    /*
    padding-right: 40px;
    padding-left: 40px;
    */
  }
}
.main .page-header {
  margin-top: 0;
}

.logo {
  height: 33px;
  margin-top: -5px;
}