<div class="sidebar patternbg">
	<h4>Image transformations</h4>

	<ul class="transformationList">
		<li ng-repeat="transformation in transformations" class="transformation" dnd-draggable="transformation" dnd-effect-allowed="copy" dnd-copied="">
			<span>{{transformation.displayName}}</span>
		</li>
	</ul>

	<h4>Analysis</h4>

	<ul class="transformationList analysisBlocks">
		<li ng-repeat="transformation in analysisBlocks" class="transformation" dnd-draggable="transformation" dnd-effect-allowed="copy" dnd-copied="">
			<span>{{transformation.displayName}}</span>
		</li>
	</ul>

	<div class="parameterPanel">
		Test
	</div>
</div>